<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="home-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      ESTO ES NISSAN
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab style="margin-top: 30px;" slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.facebook.com/nissanmx/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://www.instagram.com/nissan_mx/?hl=es">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://twitter.com/Nissan_mx?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <h4>NISSAN ES MUCHO MÁS DE LO QUE PIENSAS</h4>
  <h1>ESTO ES NISSAN</h1>
  <p>Es innovación, emoción, velocidad y aventura, pero sobre todo, Nissan es ese impulso que te mueve y te hace sentir vivo.</p>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="wifi-outline"></ion-icon>
      </ion-avatar>
    <ion-label>
      <h1>INTELLIGENT DRIVING</h1>
      <p>La conducción inteligente ya está presente con<br> tecnologías de asistencia al conductor<br> que te permitirán tener una mayor visión,<br> un mayor sentido de la realidad y una<br> mayor capacidad de acción para prevenir<br> accidentes. Los vehículos de Nissan<br> están a punto de pasar a un nuevo nivel:<br>
      desplazarse en zonas de mucho tráfico e<br> incluso encontrar estacionamiento de una<br> manera más inteligente. Actualmente, <br>estamos realizando pruebas de conducción<br> autónoma en vías públicas, lo que significa<br> que esta revolucionaria experiencia está muy<br>cerca.
      </p>    
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="wifi-outline"></ion-icon>
      </ion-avatar>    
      <ion-label>
       <h1>INTELLIGENT INTEGRATION</h1>
        <p>¿Y si los autos pudieran hacer algo más que circular?<br> ¿Qué pasaría si pudieran aprender y ser más <br>inteligentes, al proporcionar información y<br> observaciones al conductor y a otros autos,
        e incluso<br> suministrar energía a las comunidades? Todo esto<br> forma parte del esfuerzo de Nissan Intelligent<br> Integration, que va a cambiar el mundo.</p>
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="wifi-outline"></ion-icon>
      </ion-avatar>   
    <ion-label>
      <h1>INTELLIGENT POWER</h1>
        <p>Por su liderazgo en vehículos eléctricos, Nissan trae los<br> placeres únicos de una energía más limpia y silenciosa<br> a más y más personas en todo el mundo.
        Con el 100% <br>de torque instantáneo y cero emisiones por el escape,<br> el transporte en vehículos eléctricos no tiene por qué<br>renunciar a la emoción al conducir.<br> ¿Cómo lo demostramos? Al ser uno de los primeros<br>eléctricos en venderse en México, Nissan LEAF® redefine<br> el resultado que anhelas al volante.</p>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
