ion-title{
    color: #4a90c983;
    font-family: Coco Gothic;
    font-size: 20px;
}
h4{
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    margin-bottom: 0px;
}
h1{
    margin-top: 0px;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
}
ion-list{
    ion-avatar{
        margin-right: 0px;
    }
    h1{
        text-align: justify;
        font-family: Poppins;
        font-size: 20px;
        color: rgba(76, 133, 248, 0.637);
    }
    p{
        text-align: justify;
        font-family: Poppins;
        font-size: 12px;
        color: rgb(0, 0, 0);
    }
}