<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>SUCURSALES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>VEHICULOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>SERVICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="footsteps-outline"></ion-icon>
      <ion-label>ESTO SOMOS</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>