<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="home-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <center>
      NISSAN VEHICULOS
      </center>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-subtitle>NISSAN X-TRAIL</ion-subtitle>
      <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/xtrail/my22/vap/nissan-2022-xtrail-d.jpeg.ximg.l_3_m.smart.jpeg" width="145" height="90" slot="end">
      <ion-button fill="outline" size="small" slot="end" href="https://www.nissan.com.mx/comprar-un-nissan/cotizador.html/22-x-trail.html?c020_model=29486">COTIZAR</ion-button>
    </ion-item>
    <ion-card-content>
      Concéntrate en la aventura, Nissan X-Trail está equipada con tecnologías Nissan Intelligent Mobility creadas para protegerte a ti y a tu familia. Como el Frenado Inteligente de Emergencia, el cual detecta posibles colisiones e 
      incluso puede frenar por ti o el Monitor Inteligente de Visión Periférica, el cual gracias a 4 cámaras equipadas a su alrededor te brinda una visión de 360º de lo que te rodea.  
      <ion-grid>
        <ion-row class="top">
          <ion-col>POTENCIA HP</ion-col>
          <ion-col>TRACCIÓN</ion-col>
          <ion-col>PASAJEROS</ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>169</ion-col>
          <ion-col>4WD</ion-col>
          <ion-col>7</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-subtitle>NISSAN VERSA</ion-subtitle>
      <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/versa/my22/vap/nissan-2022-versa-d.jpg.ximg.l_3_m.smart.jpg" width="155" height="90" slot="end">
      <ion-button fill="outline" size="small" slot="end" href="https://www.nissan.com.mx/comprar-un-nissan/cotizador.html/22-x-trail.html?c020_model=29486">COTIZAR</ion-button>
    </ion-item>
    <ion-card-content>
      Las tecnologías de nissan intelligent mobility protegen más a los que viajan contigo y también a todos los que están a tu alrededor.<br>
      Consulta equipamiento y aditamentos especiales por versión.
      <ion-grid>
        <ion-row class="top">
          <ion-col>POTENCIA HP</ion-col>
          <ion-col>TORQUE - PIE</ion-col>
          <ion-col>PASAJEROS</ion-col>
        </ion-row>
        <ion-row class="info">
          <ion-col>118</ion-col>
          <ion-col>100 LB-PE</ion-col>
          <ion-col>5</ion-col>
        </ion-row>
      </ion-grid>  
    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-item>
    <ion-subtitle>NISSAN ALTIMA</ion-subtitle>
    <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/altima/my22/vap/nissan-2022-altima-d.jpeg.ximg.l_3_m.smart.jpeg" width="155" height="90" slot="end">
    <ion-button fill="outline" size="small" slot="end" href="https://www.nissan.com.mx/comprar-un-nissan/cotizador.html/22-altima.html?c020_model=29502">COTIZAR</ion-button>
  </ion-item>
  <ion-card-content>
    Imponente diseño que se adelanta a su tiempo.
    <br> 
    <ion-grid>
      <ion-row class="top">
        <ion-col>POTENCIA HP</ion-col>
        <ion-col>KM/L</ion-col>
        <ion-col>PASAJEROS</ion-col>
      </ion-row>
      <ion-row class="info">
        <ion-col>248</ion-col>
        <ion-col>15.09</ion-col>
        <ion-col>5</ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-subtitle>NISSAN FRONTIER</ion-subtitle>
    <img src="https://www.nissan.com.mx/content/dam/Nissan/mexico/assets/frontier/my22/vap/nissan-2022-frontier-d.jpg.ximg.l_3_m.smart.jpg" width="138" height="90" slot="end">
    <ion-button fill="outline" size="small" slot="end" href="https://www.nissan.com.mx/comprar-un-nissan/cotizador.html/22-altima.html?c020_model=29502">COTIZAR</ion-button>
  </ion-item>
  <ion-card-content>
    Imponente diseño que se adelanta a su tiempo.
    <ion-grid>
      <ion-row class="top">
        <ion-col>CAPACIDAD DE REMOLQUE</ion-col>
        <ion-col>TRACCIÓN</ion-col>
        <ion-col>DESPLAZAMIENTO</ion-col>
      </ion-row>
      <ion-row class="info">
        <ion-col>3500 kg</ion-col>
        <ion-col>4x4</ion-col>
        <ion-col>2.5L</ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card-content>
</ion-card>
</ion-content>