<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>
      NISSAN INICIO
      </center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <center>
  <h1>UBICACIONES EN CULIACÁN</h1>
  </center>
  <ion-card>
    <ion-item>
      <ion-label>CUL NOROESTE</ion-label>
      <ion-icon name="pin-outline"></ion-icon>
    </ion-item>
    <ion-card-content>      
    Blvd. Emiliano Zapata No. 156 Ote. Culiacán, SINALOA, 80220<br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14488.484408263139!2d-107.45679996044922!3d24.7913064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcda607a8206f1%3A0x323b3c063b0b2cf7!2sNissan%20Country!5e0!3m2!1ses-419!2smx!4v1668215226867!5m2!1ses-419!2smx" width="320" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label>CONGRESO</ion-label>
    <ion-icon name="pin-outline"></ion-icon>
  </ion-item>
  <ion-card-content>      
    Blvd, Pedro Infante 2301 Pte L1, Culiacán, SINALOA, 80100<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14487.093246415903!2d-107.42982836044918!3d24.803214700000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86bcd17907a7a535%3A0x8c8bf8068bed7940!2sNissan%20Congreso!5e0!3m2!1ses-419!2smx!4v1668215639357!5m2!1ses-419!2smx" width="320" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label>CUL AEROPUERTO</ion-label>
    <ion-icon name="pin-outline"></ion-icon>
  </ion-item>
  <ion-card-content>      
    Calzada Aeropuerto Pte. #5400-A, Culiacán, SINALOA, 80150<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.5227316748296!2d-107.44422968499879!3d24.777547984093097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbfc6746f66671940!2zMjTCsDQ2JzM5LjIiTiAxMDfCsDI2JzMxLjQiVw!5e0!3m2!1ses-419!2smx!4v1668215754794!5m2!1ses-419!2smx" width="320" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card-content>
</ion-card>
</ion-content>