ion-title{
    color: #4a90c983;
    font-family: Coco Gothic;
    font-size: 20px;
}
h1{
    color: #FA7E7E;
    font-family: Bahnschrift;
    font-size: 22px;  
}
span{
margin-left: 10px;
font-family: Bahnschrift SemiBold;
}
p{
    margin-left: 10px;
    font-family: Bahnschrift Light;
}
ion-label{
    font-family: Bahnschrift;
    font-size: 23px;
}