<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="home-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      SERVICIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
     <b>BENEFICIOS<br> LOCALES DEL KM 0 Y HASTA LOS PRIMEROS 80 KM</b><br>
      <p>Arrastre en plataforma<br>
      Paso de corriente<br>
      Servicio de Taxi<br>
      Cambio de neumático<br>
      Suministro de gasolina<br>
      Cerrajería en caso de olvido de llaves al interior del vehículo<br>
      Asesoría legal<br>
      Pick up & Delivery para mantenimiento preventivo de vehículos Nissan LEAF® y GT-R</p>
    </ion-item>
    <ion-item>
     <b>BENEFICIOS EN VIAJES NACIONALES</b><br>
      <p>Transporte para continuación y regreso de viaje por avería o robo<br>
        Pago de hotel por avería<br>
        Renta de auto en caso de avería<br>
        Transporte para recoger vehículo reparado</p>
    </ion-item>
    <ion-item>
      <b>CONECTIVIDAD NISSAN</b><br>
       <p>Aplicación móvil para Smartphone<br>
        Telemática: en vehículos que tengan disponible el servicio NissanConnect® Services (Servicios de Telemática), es posible solicitar apoyo vial marcando directamente desde el vehículo presionando el botón de “Asistente Telefónico” disponible en la pantalla del vehículo.
        Esta función establecerá comunicación con el proveedor del servicio de asistencia vial</p>
     </ion-item>
  </ion-list>
</ion-content>
